## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)
study_results
# Combine the data into a single dataset
combined_df= mouse_metadata.merge(study_results, on='Mouse ID', how='inner')

# Display the data table for preview
combined_df.sample(10)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
292,b742,Capomulin,Male,7,21,10,41.999228,0
417,q597,Ramicane,Male,20,25,30,43.339161,1
1796,x822,Ceftamin,Male,3,29,40,59.555685,2
793,e476,Infubinol,Male,23,26,10,49.431685,0
1875,z795,Naftisol,Female,13,29,10,48.030804,0
589,b313,Zoniferol,Male,12,27,5,47.154433,0
972,i901,Stelasyn,Male,23,29,15,51.419642,0
1149,l725,Naftisol,Female,8,26,30,66.599545,3
928,h246,Ketapril,Male,13,30,35,67.211270,2
1104,l471,Ceftamin,Female,7,28,5,46.251872,0

In [2]:
# Checking the number of mice.
num_cases = len(combined_df)
print(f'Number of Cases = {num_cases}')

num_mice = len(combined_df['Mouse ID'].unique())
print(f'Number of Mice = {num_mice}')

Number of Cases = 1893
Number of Mice = 249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
dupe_mouse_mask = combined_df.duplicated(subset=['Mouse ID'])

dupe_mice = combined_df[dupe_mouse_mask].sample(100)
dupe_timepoint = dupe_mice.duplicated(subset=['Timepoint'])
mice_duplicates = pd.DataFrame({'Mouse ID': dupe_mice[dupe_timepoint]['Mouse ID']})

print(mice_duplicates)

#clean_df = combined_df.query("Mouse ID in mice_duplicates")

     Mouse ID
311      j246
525      a577
1033     k210
1604     v289
749      c927
...       ...
1532     t198
813      f129
620      b879
773      e213
768      e213

[91 rows x 1 columns]

In [19]:
# Optional: Get all the data for the duplicate mouse ID. 
unclean_df = combined_df[combined_df.isin(mice_duplicates)]
unclean_df.to_excel('optional_unclean.xlsx', engine='xlsxwriter')

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_df = combined_df[~combined_df.isin(mice_duplicates)].dropna()
clean_df.to_excel('output1.xlsx', engine='xlsxwriter')

In [6]:
# Checking the number of mice in the clean DataFrame.
count_clean_df = len(clean_df['Mouse ID'].unique())
print(f'Number of Mice that have no Timepoint duplication: {count_clean_df}')

Number of Mice that have no Timepoint duplication: 249

## Summary Statistics

In [37]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
clean_df_mean = clean_df.groupby(by=['Drug Regimen']).mean()
clean_df_median = clean_df.groupby(by=['Drug Regimen']).median()
clean_df_var = clean_df.groupby(by=['Drug Regimen']).var()
clean_df_stdev = clean_df.groupby(by=['Drug Regimen']).std()
clean_df_sem = clean_df.groupby(by=['Drug Regimen']).sem()

summary_stats_df = pd.DataFrame({'TumorVol Mean':clean_df_mean['Tumor Volume (mm3)'],
                                'TumorVol Median':clean_df_median['Tumor Volume (mm3)'],
                                'TumorVol Variance':clean_df_var['Tumor Volume (mm3)'],
                                 'TumorVol StdDev':clean_df_stdev['Tumor Volume (mm3)'],
                                 'TumorVol StdErr':clean_df_sem['Tumor Volume (mm3)']})

summary_stats_df

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

,TumorVol Mean,TumorVol Median,TumorVol Variance,TumorVol StdDev,TumorVol StdError
Drug Regimen,,,,,
Capomulin,40.748071,41.630010,24.759139,4.975856,0.336237
Ceftamin,52.498560,51.635527,38.888036,6.236027,0.478281
Infubinol,52.923479,51.852437,43.007381,6.558001,0.501503
Ketapril,55.321331,53.721242,70.197476,8.378393,0.622761
Naftisol,54.207754,52.484804,66.835524,8.175300,0.614493
Placebo,53.936591,52.235289,60.253627,7.762321,0.588460
Propriva,52.194325,50.180109,43.084706,6.563894,0.530659
Ramicane,40.227444,40.896660,23.467793,4.844357,0.331153
Stelasyn,54.291308,52.431737,61.031535,7.812268,0.593956
Zoniferol,53.219504,51.636878,49.483974,7.034485,0.539520

In [2]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
clean_df.groupby(by='Drug Regimen').agg(mean','median','var','std','ser',axis='columns')
# Using the aggregation method, produce the same summary statistics in a single line

NameError: name 'clean_df' is not defined

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen